<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taitsmith.swolemate">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".activities.SwolemateApplication"
        android:allowBackup="true"
        android:icon="@drawable/add_workout"
        android:label="@string/app_name"
        android:roundIcon="@drawable/add_workout"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCmXNIpLSUQwqujVgPFYqqg16YQ0XBehZQ" />

        <activity
            android:name=".activities.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AddWorkoutActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.SessionDetailActivity"
            android:launchMode="singleTop" />
        <activity android:name=".activities.InstructionSummaryActivity" />
        <activity android:name=".activities.InstructionDetailActivity" />
        <activity android:name=".activities.SignInActivity"
            android:parentActivityName=".activities.MainActivity"/>
        <activity android:name=".activities.PersonalDetailsActivity"/>

        <receiver android:name=".data.GeofenceReceiver" />
        <receiver android:name=".ui.LastWorkoutWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/last_workout_widget_info" />
        </receiver>
    </application>

</manifest>