<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taitsmith.swolemate">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".activities.SwolemateApplication"
        android:allowBackup="true"
        android:icon="@drawable/add_workout"
        android:label="@string/app_name"
        android:roundIcon="@drawable/add_workout"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCmXNIpLSUQwqujVgPFYqqg16YQ0XBehZQ" />

        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".dbutils.WorkoutProvider"
            android:authorities="com.taitsmith.swolemate"
            android:exported="false" />

        <activity
            android:name=".activities.AddWorkoutActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.SessionDetailActivity"
            android:launchMode="singleTop" />

        <receiver android:name=".data.GeofenceReceiver" />

        <activity android:name=".activities.InstructionSummaryActivity" />
        <activity android:name=".activities.InstructionDetailActivity"></activity>
    </application>

</manifest>